body {
  background: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'digital-7';
  src: local('digital-7'), url('./fonts/digital-7.ttf')format('truetype');
}

@font-face {
  font-family: 'digital-7-mono';
  src: local('digital-7'), url('./fonts/digital-7 (mono).ttf')format('truetype');
}