@font-face {
    font-family: 'DS-Digital';
    src: url('https://fonts.cdnfonts.com/s/15049/DS-DIGI.woff') format('woff');
}

/* main */

#lrf_main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#root {
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lrf_end,
#lrf_spectator {
    display: flex;
    flex-flow: column;
    padding: 1em;
    border: 1px solid #0A0A0A;
    border-radius: 5px;
    margin-left: 1em;
    margin-right: 1em;
}


#lrf_end {
    width: 450px;
    position: relative;
    padding-bottom: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

#lrf_spectator {
    height: 60px;
}

#lrf_spectator>div {
    padding-bottom: 1em;
}

#lrf_spectator>div>select {
    height: 24px;
}

#lrf_end>div {
    display: flex;
    padding-bottom: 0.5em;
    color: #222222;
}

#lrf_end>hr {
    border: 1px solid #555555;
    width: 96%;
    margin-top: 0px;
}

#lrf_end_asterisk {
    position: absolute;
    bottom: 0;
    left: 1em;
    font-size: 70%;
    white-space: nowrap;
}

.lrf_title {
    font-size: 100% !important;
    font-weight: bold;
    color: #737373 !important;
}

.lrf_end_line {
    display: flex;
    flex-flow: row;
    line-height: 24px;
    white-space: nowrap;
    font-size: 90%;
    justify-content: space-between;
}

.lrf_end_line>div:first-child {
    text-align: right;
    min-width: 40%;
}

.lrf_end_line>div:last-child {
    width: 80px;
    text-align: center;
}

.lrf_end_line>div>select {
    height: 24px;
}

.lrf_end_line>div>input {
    height: 24px;
}

.lrf_end_line>div>sup,
#lrf_end_asterisk>sup {
    vertical-align: super !important;
    font-size: 70%;
}

#pagemaintitle_wrap {
    min-height: 46px;
}

/* Scoring table */

.tableWindow>table {
    width: 100%;
}

.tableWindow th {
    text-align: center;
}

.tableWindow td:first-child {
    text-align: right;
}

/* Progress bar */

.lrf_progress-bar__main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.lrf_progress-bar__container {
    width: 90%;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #e76f51;
}

.lrf_progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #e76f51;
    top: 0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

.lrf_progress-bar__text {
    font-size: 12px;
}

.lrf_counter {
    padding-left: 1em;
    font-size: 80%;
    line-height: 14px;
}

/* Resting bar */

.lrf_resting {
    width: 100%;
    height: 32px;
}

.lrf_resting>span {
    float: right;
    line-height: 32px;
    vertical-align: top;
    padding-left: 0.5em;
    font-size: 80%;
}

.lrf_resting>svg {
    float: right;
    padding-right: 0.5em;
}

.lrf_resting>label {
    line-height: 32px;
    float: right;
    padding-right: 0.5em;
    padding-left: 0.2em;
}

/* Timer */

#lrf_timer {
    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.lrf_base-timer {
    position: relative;
    width: 300px;
    height: 300px;
}

.lrf_base-timer__svg {
    transform: scaleX(-1);
}

.lrf_base-timer__circle {
    fill: none;
    stroke: none;
}

.lrf_base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: black;
}

.lrf_base-timer__path-remaining {
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.lrf_base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 160px;
    font-family: DS-Digital;
}

/* Misc */

#page-title {
    min-height: 50px;
}

/* team selection */

#lrf_teams {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    flex-flow: column;
}

.lrf_team_title {
    font-weight: 700;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.lrf_team {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ffffff;
    opacity: 0.6;
}

.lrf_team:hover {
    border: 1px solid #0A0A0A;
}

.lrf_team_selected {
    border: 1px solid #0A0A0A;
    opacity: 1;
}

#lrf_team_1 {
    background-color: #77B5FE;
}

#lrf_team_2 {
    background-color: #F9665E;
}

#lrf_team_3 {
    background-color: #92CEA8;
}

.log>div:first-child {
    border: 1px solid #0A0A0A;
    border-radius: 5px;
}

.lrf_team_1>div:first-child {
    background-color: #cde4fe !important;
}

.lrf_team_2>div:first-child {
    background-color: #fdd0ce !important;
}

.lrf_team_3>div:first-child {
    background-color: #cbe7d5 !important;
}

.lrf_heart>div:first-child {
    background-color: #e7cbe3 !important;
}

#giveup-decision {
    font-size: 120%;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}